Repository LeeChimes/Emergent-Maintenance-Inventory-App, changes with the labels that .github/labeler.yml gives for each.
All labels: area: frontend, area: android, area: ios, area: ci, area: docs

.github/labeler.yml:

"area: frontend":
  - changed-files:
      - any-glob-to-any-file: 'frontend/**'

"area: android":
  - changed-files:
      - any-glob-to-any-file: 'frontend/android/**'

"area: ios":
  - changed-files:
      - any-glob-to-any-file: 'frontend/ios/**'

"area: ci":
  - changed-files:
      - any-glob-to-any-file: '.github/**'

"area: docs":
  - changed-files:
      - any-glob-to-any-file: 'docs/**'
      - any-glob-to-any-file: '**/*.md'

Add automated merge-on-green workflow for squash-merging PRs after E2E success (#25)
  .github/workflows/merge-on-green.yml
Labels: area: ci

Fix Android E2E CI reliability by pinning NDK version 26.1.10909125 (#24)
  .github/workflows/mobile-e2e-android.yml
Labels: area: ci

Fix Android E2E workflow by pinning NDK version to prevent build failures (#23)
  .github/workflows/mobile-e2e-android.yml
Labels: area: ci

Implement Phase 0 Security and API Enhancements for Production Readiness (#18)
  README.md
  backend/delivery_routes.py
  backend/server.py
  frontend/app/index.tsx
  frontend/app/user-management.tsx
Labels: area: frontend, area: docs

Fix failing CI workflows: Switch to Yarn and remove hardcoded Detox AVD (#45)
  .github/workflows/ci-frontend.yml
  .github/workflows/frontend-ci.yml
  .github/workflows/mobile-e2e-android.yml
  frontend/detox.config.ts
  frontend/package-lock.json
  frontend/yarn.lock
Labels: area: frontend, area: ci

Apply runtime and TS fixes for navigation and screens
  frontend/app.json
  frontend/app/_layout.tsx
  frontend/app/audit-log.tsx
  frontend/app/components/Screen.tsx
  frontend/app/contact-supervisors.tsx
  frontend/app/deliveries.tsx
  frontend/app/index.tsx
  frontend/app/inventory.tsx
  frontend/app/maintenance-hub.tsx
  frontend/app/ppms.tsx
  frontend/app/scanner.tsx
  frontend/app/stock-take.tsx
  frontend/app/suppliers.tsx
  frontend/app/user-management.tsx
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: area: frontend

Finalize all recent upgrades, polish, and add 404 page
  backend/server.py
  frontend/app/+not-found.tsx
  frontend/app/dashboard.tsx
  frontend/app/inventory.tsx
  frontend/app/ppms.tsx
  frontend/app/settings.tsx
  frontend/app/user-management.tsx
Labels: area: frontend

16-09-2025 17:06
  frontend/app/components/QRBadge.tsx
  frontend/app/components/ScanButton.tsx
  frontend/app/generate-qr.tsx
  frontend/app/scan.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/ScanBus.ts
  frontend/utils/qr.ts
Labels: area: frontend

18:03
  frontend/app/_layout.tsx
  frontend/app/deliveries.tsx
  frontend/app/inventory.tsx
  frontend/app/ppms.tsx
  frontend/app/scan.tsx
  frontend/components/FloatingScan.tsx
  frontend/utils/qr.ts
Labels: area: frontend

21:08
  frontend/app/components/ErrorBoundary.tsx
  frontend/app/components/FloatingScan.tsx
  frontend/app/components/SafeComponent.tsx
  frontend/app/components/UniversalHeader.tsx
  frontend/components/Screen.tsx
Labels: area: frontend

abc
  frontend/app/ai-help.tsx
  frontend/app/audit-log.tsx
  frontend/app/components/FloatingScan.tsx
Labels: area: frontend

Big Push
  frontend/app/add-item.tsx
  frontend/app/admin-exports.tsx
  frontend/app/ai-help.tsx
  frontend/app/audit-log.tsx
  frontend/app/bulk-upload.tsx
  frontend/app/components/Container.tsx
  frontend/app/components/ErrorBoundary.tsx
  frontend/app/components/Screen.tsx
  frontend/app/components/UniversalHeader.tsx
  frontend/app/engineer-hub.tsx
  frontend/app/incidents.tsx
  frontend/app/index.tsx
  frontend/app/inventory.tsx
  frontend/app/maintenance-hub.tsx
  frontend/app/parts.tsx
  frontend/app/ppms.tsx
  frontend/app/settings.tsx
  frontend/app/user-management.tsx
  frontend/utils/AppErrorHandler.ts
Labels: area: frontend

Working Build 1
  frontend/app.json.bak
  frontend/app/_layout.tsx
  frontend/app/audit-log.tsx
  frontend/app/components/QRBadge.tsx
  frontend/app/components/SafeComponent.tsx
  frontend/app/contact-supervisors.tsx
  frontend/app/dashboard-help.tsx
  frontend/app/dashboard.tsx
  frontend/app/deliveries-help.tsx
  frontend/app/deliveries.tsx
  frontend/app/generate-qr.tsx
  frontend/app/help.tsx
  frontend/app/incidents.tsx
  frontend/app/inventory.tsx
  frontend/app/parts.tsx
  frontend/app/ppms.tsx
  frontend/app/scanner.tsx
  frontend/app/stock-take.tsx
  frontend/app/suppliers.tsx
  frontend/app/utils/AppErrorHandler.ts
  frontend/app/utils/qr.ts
  frontend/babel.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/utils/AppErrorHandler.ts
Labels: area: frontend

17-09-2025 08:32
  frontend/app/components/SafeComponent.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: area: frontend

ui(header): centred fixed app title + clean Back/Home/Logout; remove duplicate route titles
  frontend/app/_layout.tsx
  frontend/app/_layout.tsx.bak
  frontend/app/components/FloatingScan.tsx
  frontend/app/components/FloatingScan.tsx.bak
  frontend/app/components/Screen.tsx
  frontend/app/components/Screen.tsx.bak
  frontend/app/components/TopBar.tsx
  frontend/app/components/TopBar.tsx.bak
  frontend/app/components/UniversalHeader.tsx.bak
  frontend/app/logout.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/revert-auto-hub.ps1
  frontend/revert-header-polish.ps1
  frontend/revert-home-to-hub.ps1
  frontend/revert-step2-screen.ps1
  frontend/revert-step3-topbar.ps1
  frontend/revert-step4-home-logout.ps1
  frontend/services/config.ts
  frontend/services/config.ts.bak
  frontend/theme/colors.ts
  frontend/theme/index.ts
  frontend/theme/index.ts.bak
  frontend/theme/spacing.ts
  frontend/theme/typography.ts
  frontend/tsconfig.json
Labels: area: frontend

chore(repo): normalize line endings (LF), keep .ps1 CRLF; ignore *.bak; tidy index
  frontend/.gitignore
  frontend/android/gradlew.bat
Labels: area: frontend, area: android

working ..
  frontend/.gitattributes
  frontend/.githooks/pre-commit
  frontend/app.json
  frontend/app/_layout.tsx
  frontend/app/_layout.tsx.bak
  frontend/app/_legacy/scanner.tsx
  frontend/app/components/ScannerGate.tsx
  frontend/app/components/Screen.tsx
  frontend/app/components/Screen.tsx.bak
  frontend/app/components/TopBar.tsx
  frontend/app/components/TopBar.tsx.bak
  frontend/app/components/UniversalHeader.tsx
  frontend/app/components/UniversalHeader.tsx.bak
  frontend/app/home.tsx
  frontend/app/hub.tsx
  frontend/app/manual-entry.tsx
  frontend/app/scan.tsx
  frontend/app/settings.tsx
  frontend/app/utils/isScannerRoute.ts
  frontend/package.json
  frontend/revert-step5-scanner.ps1
  frontend/scripts/preflight.ps1
  frontend/scripts/safepoint.ps1
  frontend/scripts/start-clean.ps1
  frontend/services/config.ts
  frontend/services/config.ts.bak
  frontend/services/prefs.ts
  frontend/tsc-errors.txt
  frontend/tsconfig.json
  frontend/types/shims-expo.d.ts
  revert-step5-scanner.ps1
Labels: area: frontend

17-09-2025 18:41
  frontend/app/_layout.tsx
  frontend/app/_layout.tsx.bak
  frontend/app/components/DashboardQuick.tsx
  frontend/app/scan.tsx
  frontend/app/wholesalers/index.tsx
  frontend/app/wholesalers/new.tsx
  frontend/legacy/ScannerGate.tsx
  frontend/legacy/scanner.tsx
  frontend/package.json
  frontend/rescue-report.txt
  frontend/rescue-ts.txt
  frontend/services/config.ts
  frontend/services/storage.ts
  frontend/services/wholesalers.ts
  frontend/types/wholesaler.ts
  frontend/wholesalers-ts.txt
Labels: area: frontend

fix: clean DashboardQuick import; wholesalers button wired
  frontend/app/_layout.tsx
Labels: area: frontend

18-09-2025 16:45
  frontend/.attic/suppliers.tsx-20250918151316
  frontend/app/_layout.tsx
  frontend/app/_layout.tsx.bak2
  frontend/app/_layout.tsx.broken
  frontend/app/components/DashboardQuick.tsx
  frontend/app/components/DashboardSuppliersTile.tsx
  frontend/app/components/ScannerGate.tsx
  frontend/app/components/SuppliersQuickTile.tsx
  frontend/app/dashboard.tsx.bak_suppliers
  frontend/app/dashboard.tsx.bak_suppliersNuke
  frontend/app/generate-qr.tsx
  frontend/app/wholesalers/index.tsx
  frontend/app/wholesalers/new.tsx
Labels: area: frontend

Checkpoint from VS Code for coding agent session
  frontend/app/dashboard.tsx
  frontend/app/suppliers-list.tsx
Labels: area: frontend

Fix @env module resolution and prepare for cross-platform development
  .expo/README.md
  .expo/devices.json
  frontend/app/dashboard.tsx
  frontend/app/suppliers-list.tsx
  frontend/app/suppliers.tsx
  frontend/babel.config.js
  package-lock.json
  package.json
Labels: area: frontend, area: docs
